# Ignore all files
*

# Allow specific folders and their contents
!.config/
!.config/nvim/
!.config/alacritty/
!.config/hypr/
!.config/rofi/
!.config/hyprpanel/
!.config/scripts/
!.config/mpv/
!.config/GIMP/
!.config/GIMP/custom/
!.config/kitty/
!.config/forge/
!.config/waybar/
!.config/dunst/
!.config/MangoHud/
!assets/

# Allow files inside these folders to be tracked
!.config/nvim/*
!.config/dunst/dunstrc
!.config/alacritty/*
!.config/hypr/**/*
!.config/rofi/**/*
!.config/hyprpanel/*
!.config/scripts/*
!.config/mpv/*
!.config/GIMP/custom/*
!.config/kitty/*
!.config/forge/**/*
!.config/waybar/*
!.config/MangoHud/*
!assets/*

# Allow specific files
!.config/starship.toml
!requirements
!.bashrc
!.gitignore
!README.md
