* {
  border: none;
  font-size: 10px;
  min-height: 10px;
  font-family: "JetBrainsMono Nerd Font,JetBrainsMono NF";
}

window#waybar {
  background: #010101;
  margin: 0;
  margin-left: 100px;
}

#workspaces button {
  padding: 0 0px;
  margin: 0 0px;
  min-width: 20px;
  color: #ffffff;
  border-radius: 0%;
}

#workspaces button.active {
  border-radius: 0%;
  background-color: #F5F5F5;
  color: #010101;
}

/* 
#workspaces {
  margin-left: 5px;
} */

.modules-right {
  font-size: 10px;
}

#battery,
#custom-clipboard,
#custom-colorpicker,
#custom-powerDraw,
#bluetooth,
#pulseaudio,
#network,
#disk,
#memory,
#backlight,
#cpu,
#temperature,
#custom-weather,
#idle_inhibitor,
#jack,
#tray,
#window {
  color: #F5F5F5;
  padding: 0 5px;
}


#clock {
  margin-right: 5px;
}

#temperature.critical,
#pulseaudio.muted {
  color: #FF0000;
  padding-top: 0;
}

#clock {
  color: #F5F5F5;
}

#tray {
  font-size: 10px;
}